ENV=development

API_KEY="your-api-key"
NOVITA_API_KEY="your-api-key"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="your-api-key"
LANGSMITH_PROJECT="patagonia-task"
